<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="index1">
                    <match url="^(.*)-([0-9]*)-([0-9]*)-([0-9]*).html$" />
                    <action type="Rewrite" url="index.php?type={R:1}&amp;id={R:2}&amp;page={R:3}&amp;M_id={R:4}" />
                </rule>
                <rule name="index2">
                    <match url="^(.*)-([0-9]*).html$" />
                    <action type="Rewrite" url="index.php?type={R:1}&amp;id={R:2}" />
                </rule>
                <rule name="index3">
                    <match url="^(.*)-tag-(.*).html$" />
                    <action type="Rewrite" url="index.php?type={R:1}&amp;tag={R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>